In [3]:
import pandas as pd
import numpy as np

In [8]:
# Create a DataFrame with countries and their populations
data = {
    'country': ['China', 'India', 'United States', 'Indonesia', 'Pakistan', 'Brazil', 'Nigeria', 'Bangladesh', 'Russia', 'Mexico'],
    'population': [1444216107, 1393409038, 332915073, 276361783, 225199937, 213993437, 211400708, 166303498, 145912025, 130262216]
}

df = pd.DataFrame(data)
print(df)

         country  population
0          China  1444216107
1          India  1393409038
2  United States   332915073
3      Indonesia   276361783
4       Pakistan   225199937
5         Brazil   213993437
6        Nigeria   211400708
7     Bangladesh   166303498
8         Russia   145912025
9         Mexico   130262216

In [12]:
# Create a new column by multiplying the values in 'numeric_column' by 2 
df['new_column'] = df['population'].apply(lambda x: x * 2)
print(df)

         country  population  new_column
0          China  1444216107  2888432214
1          India  1393409038  2786818076
2  United States   332915073   665830146
3      Indonesia   276361783   552723566
4       Pakistan   225199937   450399874
5         Brazil   213993437   427986874
6        Nigeria   211400708   422801416
7     Bangladesh   166303498   332606996
8         Russia   145912025   291824050
9         Mexico   130262216   260524432

In [15]:
# Create a flag column that indicates whether the population is over 100 million
df['flag_column'] = df['population'].apply(lambda x: x > 100000000)

# Print the updated DataFrame
print(df)

         country  population  new_column  flag_column
0          China  1444216107  2888432214         True
1          India  1393409038  2786818076         True
2  United States   332915073   665830146         True
3      Indonesia   276361783   552723566         True
4       Pakistan   225199937   450399874         True
5         Brazil   213993437   427986874         True
6        Nigeria   211400708   422801416         True
7     Bangladesh   166303498   332606996         True
8         Russia   145912025   291824050         True
9         Mexico   130262216   260524432         True